ObjectDetection/data/
materi/
notes.txt
SimplifyingImageRecognition/with_yolo/Golden retriever/
SimplifyingImageRecognition/with_yolo/.env
SimplifyingImageRecognition/with_yolo/Golden-Retriever-1/
SimplifyingImageRecognition/with_yolo/runs/detect/train/